/* user profile information */
.userStyle {
    width: 20% vh;
  }

.size {
  width: 50% vh;
  display: "flex";
  justify-content: "center";
  align-items: "center";
}

  /* user pic upload */

  .avatar-uploader > .ant-upload {
    width: 250px;
    height: 250px;

  }

  /* styles the myaccount container */ 
.profileStyle {
  justify-content: space-around;
 
}